[build]
  base = "Grocery List"
  command = "npm run build"
  publish = "Grocery List/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "https://grocerylistbackend.onrender.com/api/items"
